.term{ font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 153, 255);


}
.container{
    color: brown;
    background-color: rgb(124, 28, 76);

}
.personality{

    background-color: indigo;
    font-size: xx-large;
}
.ayesha{
    background-color: chartreuse;
    font-size: xx-large;
}

